In [38]:
import pandas as pd

In [39]:
import matplotlib as plt

In [40]:
df=pd.read_csv('tradeHistory_test.csv',usecols=[0,2,5,6,9],encoding='gbk')
df

         交易日期    证券代码  成交数量    成交金额       结算价
0    20180426  RB1810     1   36100  3565.000
1    20180426  HC1810    -1  -36620  3673.000
2    20180426  HC1810    -1  -36620  3673.000
3    20180426   I1809     1   46550   466.500
4    20180426   I1809    -1  -46350   466.500
5    20180426  RB1810    -1  -35690  3565.000
6    20180426  RB1810    -1  -35690  3565.000
7    20180426  RB1810     1   36080  3565.000
8    20180426  RB1810    -1  -35540  3565.000
9    20180426   T1806    -1 -946250    94.605
10   20180426   T1806     1  946700    94.605
11   20180426  HC1810    -1  -36460  3673.000
12   20180427  RB1810     1   35850  3574.000
13   20180427  HC1810     1   36810  3683.000
14   20180427   J1809     1  192750  1909.500
15   20180427   I1809     1   47000   463.500
16   20180427  HC1810     1   36720  3683.000
17   20180427  RB1810     1   35630  3574.000
18   20180427  HC1810     1   36720  3683.000
19   20180427  HC1810     1   36670  3683.000
20   20180427  HC1810     1   37010  3683.000
21   20180427  RB1810    -1  -35870  3574.000
22   20180427  HC1810    -1  -36930  3683.000
23   20180427  HC1810    -1  -36930  3683.000
24   20180427   I1809    -1  -46650   463.500
25   20180427   J1809    -1 -191250  1909.500
26   20180504   I1809     1   46800   469.000
27   20180504  HC1810    -1  -37270  3735.000
28   20180504  HC1810     1   37450  3735.000
29   20180504  HC1810     1   37420  3735.000
..        ...     ...   ...     ...       ...
260  20180710  RB1810    -1  -38610  3861.000
261  20180711   I1809    -2  -91300   456.500
262  20180711   J1809    -1 -200600  2019.000
263  20180711   J1809    -1 -200750  2019.000
264  20180711  RB1810    -2  -77260  3870.000
265  20180712   I1809     1   46350   464.500
266  20180712   I1809     2   92800   464.500
267  20180712   J1809    -1 -206850  2058.500
268  20180712   I1809    -2  -92900   464.500
269  20180712  RB1810    -2  -78880  3937.000
270  20180712  HC1810    -2  -79840  3995.000
271  20180712  HC1810    -2  -79840  3995.000
272  20180712  HC1810     2   79860  3995.000
273  20180712   I1809     1   46350   464.500
274  20180712   J1809     1  203350  2058.500
275  20180712   J1809     1  203400  2058.500
276  20180712  RB1810     2   77980  3937.000
277  20180712   J1809     1  203500  2058.500
278  20180712  RB1810     2   78520  3937.000
279  20180712  RB1810     2   78520  3937.000
280  20180712   J1809     1  204600  2058.500
281  20180712  HC1810     2   79860  3995.000
282  20180712  HC1810     1   39930  3995.000
283  20180712  HC1810     1   39930  3995.000
284  20180713  HC1810    -2  -80400  4027.000
285  20180713  HC1810    -1  -40200  4027.000
286  20180713  HC1810    -1  -40200  4027.000
287  20180713   J1809    -1 -204700  2056.000
288  20180713  RB1810    -2  -79200  3974.000
289  20180713  RB1810    -2  -79200  3974.000

[290 rows x 5 columns]

In [41]:
def multiple(x):
    if '1810' in x:
        return 10
    else:
        return 100
df['multiple']=df['证券代码'].apply(multiple)

In [42]:
df=df[df['证券代码']!='IF1812']

In [43]:
df1=pd.DataFrame(df.groupby(['证券代码','交易日期','结算价','multiple'])['成交数量','成交金额'].sum(),columns=['成交数量','成交金额'])

In [44]:
df1['hedgenumber']=df1.groupby(['证券代码'])['成交数量'].cumsum()*(-1)

In [45]:
df1=df1.reset_index()

In [46]:
df1['hedge']=df1['multiple']*df1['hedgenumber']*df1['结算价']

In [47]:
df1['yesterdayhedge']=df1.groupby(['证券代码'])['hedge'].shift(1)*(-1)

In [48]:
df1['日净收益']=(df1['成交金额']+df1['hedge']+df1['yesterdayhedge'])*(-1)

In [49]:
df_pic=pd.DataFrame(df1.groupby(['交易日期'])['日净收益'].sum(),columns=['日净收益'])
df_pic['累计净收益']=df_pic['日净收益'].cumsum()
print(df_pic)

             日净收益    累计净收益
交易日期
20180426      0.0      0.0
20180427   -190.0   -190.0
20180504   -450.0   -640.0
20180607   4280.0   3640.0
20180608    580.0   4220.0
20180611 -10460.0  -6240.0
20180612 -12590.0 -18830.0
20180613  14040.0  -4790.0
20180614  -2810.0  -7600.0
20180615   2900.0  -4700.0
20180619 -15920.0 -20620.0
20180620   4530.0 -16090.0
20180625  -8080.0 -24170.0
20180626   5000.0 -19170.0
20180627     30.0 -19140.0
20180628  -4970.0 -24110.0
20180629   1670.0 -22440.0
20180702  -4260.0 -26700.0
20180703  -3280.0 -29980.0
20180704    520.0 -29460.0
20180705  -4650.0 -34110.0
20180706 -14760.0 -48870.0
20180709   -260.0 -49130.0
20180710   3800.0 -45330.0
20180711  -2130.0 -47460.0
20180712   8630.0 -38830.0
20180713   2220.0 -36610.0

In [50]:
df_pic.to_csv('futures_2.csv',encoding='gbk')